/* section {
  background: rgb(208, 0, 0);
  background: linear-gradient(
    128deg,
    rgba(208, 0, 0, 0.9559174011401436) 0%,
    rgba(255, 144, 104, 1) 50%,
    rgba(255, 75, 31, 0.9895308465182948) 91%
  );
} */

.login-body {
  min-height: 100vh;
  font-size: 0.8rem;
}

.text-gbvh {
  padding: 0;
  font-size: 2rem;
  /* background: linear-gradient(90deg, rgba(53,185,234,1) 2%, rgba(152,122,236,1) 50%, rgba(212,70,183,1) 100%); */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-weight: 900;
}

.bg-login {
  background-size: cover;
  /* width: 50%; */
}

/* @keyframes mybackground {
  from {
    background: linear-gradient(to right, #fc466b, #3f5efb);
  }
  to {
    background: linear-gradient(to right, #fc466b, #3f5efb);
  }
}
 */

/* @keyframes mymove {
  0% {
    background-color: #60d394;
  }
  100% {
    background-color: #aaf683;
  }
} */
